<div class="navbar">
<ul>
    <li><a href="/restaurants/add">ADD</a></li>
    <li><a href="/restaurants/search">FILTER</a></li>
    <li><a href="/restaurants/search/id">SEARCH BY ID</a></li>
    <li><a href="/restaurants/update">UPDATE BY ID</a></li>
    <li><a href="/restaurants/delete">DELETE</a></li>
    <li><a href="/restaurants/search/name">SEARCH BY NAME</a></li>
    <li><a href="/restaurants/update/name">UPDATE BY NAME</a></li>
    <li><a href="/dashboard">VIEW ALL DATA</a></li>
    <button class="logoutBtn"><a href="/logout">LOGOUT</a></button>
</ul>
</div>