<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>
     {{#if showNav}}
      <div class="navbar">
        {{>navbar}}
      </div>
      {{/if}}
    <div class="content">
    {{{body}}}
    </div>
  </body>
</html>