<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {{#if error}}
    <div class="error" style="display:block;" >
    {{error}}
    </div>
    {{/if}}
    <br><br>
    <div class = "loginForm">
    <h4>LOGIN</h4>
    <form action="/login" method="post">
    <label for="email">Email</label><br><br>
    <input type="text" name="email" placeholder="Enter email address" class="txtFields"><br><br><br><br>
    <label for="password">Password</label><br><br>
    <input type="password" name="password" placeholder="Enter password" class="txtFields"><br><br><br><br>
    <input type="submit" name="loginBtn" value="Login" class="loginBtn">
   </form>
   <br>
   <p class="p1">Are you a new User?<a href="/register"> Register</a></p>
</div>
</body>
</html>