<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <div class="errorDiv">
        <h1>ERROR 400! : BAD REQUEST</h1>
        <p class="wrongRoute">Wrong Route</p>
    </div>
</body>
</html>